<h1>Show from posts</h1>
<div>
  <h3> Title: <%= @post.title %> by: <%= @post.author.name %> </h3>
  <div>
    <p>Comments: <%= @post.commets_counter %> Likes: <%= @post.likes_counter %></p>
  </div>
</div>